header {
    background-color: rgb(24, 42, 66);
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

#logo {
    width: 90px;
}

.cabecalho {
    margin: 0;
    margin-top: 130px;
    text-align: center;
}

input, select {
    width: 160px;
}

.espaco-form {
    padding-bottom: 15px;
}

main {
    margin: 0;
    text-align: center;
}